<html ng-app="HorsePowerStore">
<head>
    <title>HorsePowerStore</title>
    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/slate/bootstrap.min.css">
    <link href="~/css/site.css" rel="stylesheet" />
    <base href="/" />
</head>
<body >
    <div class="container ng-scope" ng-controller="AccountController as account">
        <div ng-controller="LoginController as login">
            <div class="row">
                <div class="col-xs-1"></div>
                <div class="col-md-10">
                    <h1>HorsePowerStore</h1>
                    <a href="/">Home</a> /
                    <a href="/about">About</a> /
                    <a href="/searchForm">Search</a> /
                    <a href="#"
                       ng-click="login.openLoginDialog()"
                       ng-show="!account.isLoggedIn()">
                        Login
                    </a>
                    <p style="display:inline" ng-show="!account.isLoggedIn()"> / </p>
                    <a href="#"
                       id="register"
                       ng-click="login.registerLink()"
                       ng-show="!account.isLoggedIn()">
                        Register
                    </a>

                    <a href="/savedCars" ng-show="account.isLoggedIn()"> Your Cars</a>

                    <a href="#" ng-click="account.logout()" ng-show="account.isLoggedIn()">/ Logout</a></br>
                    <br/>
                    <div class="btn-group accountDropdown" uib-dropdown is-open="status.isopen" style="float:right;" ng-show="account.isLoggedIn()">
                        <button id="single-button" type="button" class="btn btn-default" uib-dropdown-toggle ng-disabled="disabled">
                            {{login.username}}<span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu-right" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                            <li role="menuitem" class="dropdown-menu-item" ng-click="account.changeUsernameModal()">
                            <i class="fa fa-user-o"></i> Change Username </li>
                            <li role="menuitem" class="dropdown-menu-item" ng-click="account.changePasswordModal()"
                                ng-show="login.isExternal">
                            <i class="fa fa-unlock-alt"></i> Change Password</li>
                            <li role="menuitem" class="dropdown-menu-item" ng-click="account.deleteAccountModal()">
                            <i class="fa fa-trash"></i> Delete Account</li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-1"></div>
            </div>
        </div>
        <hr id="indexHr"/>

        <ui-view></ui-view>
    </div>

    <!-- Library Files -->
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/angular-resource/angular-resource.js"></script>
    <script src="/bower_components/angular-animate/angular-animate.js"></script>
    <script src="/bower_components/angular-touch/angular-touch.js"></script>
    <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <!-- App Main -->
    <script src="/ngapp/app.js"></script>

    <!-- App Services -->
    <script src="/ngapp/services/services.js"></script>
    <script src="~/ngApp/services/SearchFormService.js"></script>
    <script src="~/ngApp/services/carInstanceService.js"></script>
    <script src="~/ngApp/services/productsService.js"></script>

    <!-- App Controllers -->
    <script src="/ngapp/controllers/controllers.js"></script>
    <script src="~/ngApp/controllers/SearchFormController.js"></script>
    <script src="~/ngApp/controllers/carInstanceController.js"></script>
    <script src="~/ngApp/controllers/productController.js"></script>

    <!-- Security -->
    <script src="/ngapp/controllers/accountcontroller.js"></script>
    <script src="/ngapp/services/accountservice.js"></script>

</body>
</html>
