<div class="modal-header">
    <center><h4>Change Password</h4></center>
</div>
<div class="modal-body">
    <fieldset>
        <dl id="validationMessages">
            <dt></dt>
            <dd ng-repeat="message in account.validationMessages">
                {{message}}
            </dd>
        </dl>
        <form name="PasswordForm" class="form-group" novalidate>
            <div>
                <center><label class="loginLabel">Email</label></center>
                <input type="text" class="form-control" ng-model="account.user.email" name="email" ng-required="true" />
                <center>
                    <span ng-show="PasswordForm.email.$touched && PasswordForm.email.$error.required" class="error">
                        Email is required
                    </span>
                </center>
            </div>
            <div>
                <center><label class="loginLabel">Old Password</label></center>
                <input type="password" class="form-control" ng-model="account.user.password" name="oldPassword" ng-required="true" />
                <center>
                    <span ng-show="PasswordForm.oldPassword.$touched && PasswordForm.oldPassword.$error.required" class="error">
                        Old password is required
                    </span>
                </center>
            </div>
            <div>
                <center><label class="loginLabel">New Password</label></center>
                <input type="password" class="form-control" ng-model="account.user.newPassword" name="newPassword" ng-required="true" />
                <center>
                    <span ng-show="PasswordForm.newPassword.$touched && PasswordForm.newPassword.$error.required" class="error">
                        New password is required
                    </span>
                </center>
            </div>
            <button ng-click="account.resetPassword()" class="btn btn-primary modalButton" ng-disabled="PasswordForm.$invalid">save</button>
        </form>
    </fieldset>
</div>