
<div class="modal-body">
    <h1>Register</h1>

    <fieldset>
        <legend>Login with a Social Provider</legend>

        <ul>
            <li ng-repeat="externalLogin in account.externalLogins">
                <a target="_self" href="/api/account/ExternalLogin?provider={{externalLogin.authenticationScheme}}&returnUrl=/home">{{externalLogin.displayName}}</a>
            </li>
        </ul>

    </fieldset>

    <fieldset>
        <legend>Register Locally</legend>

        <ul>
            <li ng-repeat="message in register.validationMessages">
                {{message}}
            </li>
        </ul>

        <form ng-submit="register.register()">
            <div>
                <label>Email:</label>
                <input ng-model="register.registerUser.email" />
            </div>
            <div>
                <label>Password:</label>
                <input ng-model="register.registerUser.password" />
            </div>
            <div>
                <label>Confirm Password:</label>
                <input ng-model="register.registerUser.confirmPassword" />
            </div>
            <input type="submit" value="Register" />
        </form>
    </fieldset>
    <a href="#" ng-click="register.cancel()">Cancel</a>
</div>