<div class="modal-header">
    <center><h4>Register with</h4></center>
</div>
<div class="modal-body">
    <fieldset>
        <ul id="externalLoginList">
            <li ng-repeat="externalLogin in account.externalLogins">
                <a target="_self" href="/api/account/ExternalLogin?provider={{externalLogin.authenticationScheme}}&returnUrl=/home" id="fbLogin"><i class="fa fa-facebook-square"></i> {{externalLogin.displayName}}</a>
            </li>
        </ul>

    </fieldset>

    <fieldset>
        <legend></legend>
        <dl>
            <dt></dt>
            <dd ng-repeat="message in register.validationMessages" id="validationMessages">
                {{message}}
            </dd>
        </dl>

        <form ng-submit="register.register()" name="registerForm" class="form-group" novalidate>
            <div>
                <center><label class="loginLabel">Email</label></center>
                <input ng-model="register.registerUser.email" class="form-control" ng-required="true" name="Useremail" style="text-align:center;"/>
            </div>
            <div>
                <center><label class="loginLabel">Password</label></center>
                <input type="password" ng-model="register.registerUser.password" class="form-control" ng-required="true" name="Userpass" style="text-align:center;"/>
            </div>
            <div>
                <center><label class="loginLabel">Confirm Password</label></center>
                <input type="password" ng-model="register.registerUser.confirmPassword" class="form-control confirmPass" ng-required="true" name="Userconfirm" style="text-align:center;"/>
            </div>
            <input class="btn btn-primary modalButton" type="submit" value="Register" ng-disabled="registerForm.$invalid"/>
            <a href="#" class="btn btn-danger modalButton" ng-click="register.cancel()">Cancel</a>
        </form>
    </fieldset>
    
</div>