<h1>Pick your car!</h1>

<form ng-submit="controller.submit()">
    <div>
        <br/>
        Make
        <select class="form-control" 
                ng-model="controller.selectedMake"
                ng-options="make for make in controller.makes"
                ng-change="controller.getModels()">
            <option>Select</option>
        </select>
    </div>

    <div ng-show="controller.selectedMake">
        <br/>
        Model
        <select class="form-control"  
                ng-model="controller.selectedModel"
                ng-options="model for model in controller.models"
                ng-change="controller.getYears()">
            <option>Select</option>
        </select>
    </div>

    <div ng-show="controller.selectedModel">
        <br/>
        Year
        <select class="form-control"  
                ng-model="controller.selectedYear"
                ng-change="controller.getTrims()"
                ng-options="year for year in controller.years">
            <option>Select</option>
        </select>
    </div>

    <div ng-show="controller.selectedYear">
        <br/>
        Car
        <select class="form-control"
                ng-model="controller.selectedStyle"
                ng-options="style as style.name for style in controller.styles">
            <option>Select</option>
        </select>
    </div>
    <br/>
    (Optional) Budget
    <br/>
    <input class="form-control" ng-model="controller.budget" type="number" min ="0" /> <br />
    <input type="submit" class="btn btn-danger" ng-show="controller.selectedStyle" value="Submit" />
</form>
