<h1>Pick your car</h1>

{{controller.message}}
<form ng-submit="controller.submit">

    <select class="form-control" ng-model="controller.make"
            ng-change="controller.getModels()"
            ng-options="o.name as o.name for o in controller.makes">
        <option>Select</option>
    </select>

    <select class="form-control" ng-model="controller.model"
            ng-change="controller.getYears()"
            ng-options="o.model as o.model for o in controller.models">
        <option>Select</option>
    </select>

    <select class="form-control" ng-model="controller.year"
            ng-change="controller.getResults()"
            ng-options="o.year as o.year for o in controller.years">
        <option>Select</option>
    </select>
    
    <select class="form-control" ng-model="controller.car"
            ng-options="o.car as o.car for o in controller.cars">
       <option>Select</option>
     </select>
    <input ng-show="controller.car !== null" value="Submit"/>
</form>
